.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin-top: 50px;
  }
  .form-signin input {
      width: 90%;  
      padding: 5px;  
      margin-top: 5px;


  }
.logo {
    width: 200px;
    height: 200px;

}